{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% block styles %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="shortcut icon" href="https://icon-icons.com/icons2/3142/PNG/512/job_employment_find_recuitment_seeker_icon_192532.png" type="image/x-icon">

    {% endblock styles %}
</head>
<body class="flex flex-col items-center h-screen bg-gradient-to-t from-gray-700 via-gray-900 to-black overflow-hidden">
    {% include "layout/partials/menu.html" %}
    <main class="flex justify-center items-start w-full py-4 overflow-y-auto">
        
        {% block content %}
        {% endblock content %}
    </main>

    {% block scripts %}

    <script src="{% static "js/modal_add.js" %}"></script>
    <script src="{% static "js/modal_edit.js" %}"></script>
    <script src="{% static "js/modal_delete.js" %}"></script>
    <script src="{% static "js/modal_view.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://kit.fontawesome.com/fda8995978.js" crossorigin="anonymous"></script>
    {% endblock scripts %}
</body>
</html>
